<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.netsystems.qtcervotessileinhouse" version="0.9">
  <name>Quick Trade App</name>
  <description>Quick Trade App is an application for Quick Trade by Net Systems.</description>
  <author href="http://www.netsystems.it" email="info@netsystems.it">Net Systems Team</author>
  <content src="index.html"/>
  <!-- MultiPlatform-->
  <preference name="phonegap-version" value="cli-7.1.0"/>
  <preference name="orientation" value="default"/>
  <preference name="fullscreen" value="false"/>
  <!-- iOS -->
  <preference name="target-device" value="universal"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="detect-data-types" value="false"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="deployment-target" value="7.0" />
  <!-- Android -->
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
 
  <preference name="permissions" value="none"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />
  <!--  <preference name="ios-statusbarstyle" value="black-opaque"/>-->
  <!--  <preference name="show-splash-screen-spinner" value="true"/>-->
  <!--  <preference name="auto-hide-splash-screen" value="true"/>-->
  <!--  <preference name="SplashScreen" value="screen" />-->
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="disable-cursor" value="true"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>

  <!--  <plugin name="org.apache.cordova.battery-status"/> -->
  <!--  <plugin name="org.apache.cordova.camera" spec="4.0.2" source="pgb"/> -->
  <!--  <plugin name="org.apache.cordova.media-capture"/> -->
  <!--  <plugin name="org.apache.cordova.console"/> -->
  <plugin name="cordova-plugin-statusbar"/>
 <plugin name="cordova-plugin-file" spec="~6.0.2" >
	<!--   <preference name="AndroidPersistentFileLocation" value="Compatibility" />-->
  </plugin>
  
  <plugin name="cordova-plugin-device" spec="~2.0.1" />
 
  <plugin name="cordova-plugin-dialogs"/>
   <plugin name="cordova-plugin-vibration"/>
  
  <!--  <plugin name="org.apache.cordova.device-motion"/> -->
  <!--  <plugin name="org.apache.cordova.device-orientation"/> -->
  <!--  <plugin name="org.apache.cordova.dialogs"/> -->
 
   
 <!-- <plugin name="org.apache.cordova.file-transfer"/> -->
  <!--  <plugin name="org.apache.cordova.geolocation"/> -->
  <!--  <plugin name="org.apache.cordova.globalization"/> --> -->
  <!--  <plugin name="org.apache.cordova.inappbrowser"/> -->
  <!--  <plugin name="org.apache.cordova.media"/> -->
  <!--  <plugin name="org.apache.cordova.network-information"/> -->
  <!--  <plugin name="org.apache.cordova.splashscreen"/> -->
  <!--  <plugin name="org.apache.cordova.vibration"/> -->
  
  <!--  <plugin name="cordova-plugin-whitelist" /> -->

  <icon src="icon.png" role="default"/>
  <icon src="res/icon/android/icon-36-ldpi.png"  platform="android" qualifier="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png"  platform="android" qualifier="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png"  platform="android" qualifier="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi"/>
  <!--  <icon src="www/res/icon/blackberry/icon-80.png"    platform="blackberry"/>
  <icon src="www/res/icon/blackberry/icon-80.png"    platform="blackberry" gap:state="hover"/>-->
  <icon src="res/icon/ios/icon-29.png"           platform="ios" width="29" height="29"/>
  <icon src="res/icon/ios/icon-40.png"           platform="ios" width="40" height="40"/>
  <icon src="res/icon/ios/icon-50.png"           platform="ios" width="50" height="50"/>
  <icon src="res/icon/ios/icon-57.png"           platform="ios" width="57" height="57"/>
  <icon src="res/icon/ios/icon-58.png"           platform="ios" width="58" height="58"/>
  <icon src="res/icon/ios/icon-60.png"           platform="ios" width="60" height="60"/>
  <icon src="res/icon/ios/icon-72.png"           platform="ios" width="72" height="72"/>
  <icon src="res/icon/ios/icon-76.png"           platform="ios" width="76" height="76"/>
  <icon src="res/icon/ios/icon-80.png"           platform="ios" width="80" height="80"/>
  <icon src="res/icon/ios/icon-100.png"           platform="ios" width="100" height="100"/>
  <icon src="res/icon/ios/icon-57-2x.png"        platform="ios" width="114" height="114"/>
  <icon src="res/icon/ios/icon-120.png"           platform="ios" width="120" height="120"/>
  <icon src="res/icon/ios/icon-72-2x.png"        platform="ios" width="144" height="144"/>
  <icon src="res/icon/ios/icon-152.png"        platform="ios" width="152" height="152"/>
  <icon src="res/icon/ios/icon-180.png"        platform="ios" width="180" height="180"/>
  <icon src="res/icon/webos/icon-64.png"         platform="webos"/>
  <icon src="res/icon/windows-phone/icon-48.png" platform="winphone"/>
  <icon src="res/icon/windows-phone/icon-173-tile.png" platform="winphone" role="background"/>


<splash src="res/screen/screen-portrait.png"/>


  <splash src="res/screen/android/screen-ldpi-portrait.png" platform="android" qualifier="port-ldpi"/>
  <splash src="res/screen/android/screen-mdpi-portrait.png" platform="android" qualifier="port-mdpi"/>
  <splash src="res/screen/android/screen-hdpi-portrait.png" platform="android" qualifier="port-hdpi"/>
  <splash src="res/screen/android/screen-xhdpi-portrait.png" platform="android" qualifier="port-xhdpi"/>
  
  
  <!--<gap:splash src="www/res/screen/blackberry/screen-225.png" gap:platform="blackberry"/>-->
  <splash src="res/screen/ios/screen-iphone-portrait.png" platform="ios" width="320" height="480"/>
  <splash src="res/screen/ios/screen-iphone-portrait-2x.png" platform="ios" width="640" height="960"/>
  <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" platform="ios" width="640" height="1136"/>
  <splash src="res/screen/ios/screen-ipad-portrait.png" platform="ios" width="768" height="1024"/>
  <splash src="res/screen/ios/screen-ipad-landscape.png" platform="ios" width="1024" height="768"/>
  <splash src="res/screen/windows-phone/screen-portrait.jpg" platform="winphone"/>
  -->

  <!--<access origin="*"/>-->
  <!--<access uri="*" subdomains="true" />-->
  <!--<access origin="*" launch-external="yes" />-->
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />

  <gap:config-file target="*-Info.plist" parent="CFBundleURLTypes" platform="ios" >
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
  </gap:config-file>

  <!--<plugin name="Storage" value="org.apache.cordova.Storage" />-->
  <!--<gap:plugin name="cordova-plugin-whitelist" source="npm" />-->
  <!--<gap:config-file platform="android" parent="/manifest">
    <supports-screens android:xlargeScreens="false" android:largeScreens="false" android:smallScreens="false" />
    <application android:theme="@android:style/Theme.NoTitleBar">
      <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
    </application>
  </gap:config-file>-->

</widget>
