
.iconLeft a{
    padding-left: 2.5em !important;
    padding-right: 1em !important;
}
.iconLeft a:after{
    right: auto;
    left: 9px;
}
._hide {
    display: none;
}

._show {
    display: block;
}
	
.custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

ul li a h2, ul li a p, ul li {
    white-space: pre !important;           /* CSS 2.0 */
    white-space: pre-wrap !important;      /* CSS 2.1 */
    white-space: pre-line !important;      /* CSS 3.0 */
    white-space: -pre-wrap !important;     /* Opera 4-6 */
    white-space: -o-pre-wrap !important;   /* Opera 7 */
    white-space: -moz-pre-wrap !important; /* Mozilla */
    white-space: -hp-pre-wrap !important;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

ul li h2 {
    white-space: pre !important;           /* CSS 2.0 */
    white-space: pre-wrap !important;      /* CSS 2.1 */
    white-space: pre-line !important;      /* CSS 3.0 */
    white-space: -pre-wrap !important;     /* Opera 4-6 */
    white-space: -o-pre-wrap !important;   /* Opera 7 */
    white-space: -moz-pre-wrap !important; /* Mozilla */
    white-space: -hp-pre-wrap !important;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}


/*#pageCustomerPopupDest-popup {
    width: 90%;
    left: 5%;
    right: 5%;
}*/
